body {
  background-color: #eee;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #555;
  font-family: 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;
}

.profile {
  position: fixed;
  display: block;
  padding: 70px 15px;
  border: none;
  background-color: #303030;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
}

.profile img.img-circle.img-thumbnail {
  background-color: #eee;
}

.profile ul.nav.nav-sidebar {
  margin-top: 30px;
}

.profile ul.nav.nav-sidebar > li > a {
  color: #aaa;
  padding-left: 20%;
}

.profile ul.nav.nav-sidebar > li.active > a {
  color: #fff;
  background-color: #d9534f;
}

.profile ul.nav.nav-sidebar > li > a:hover,
.profile ul.nav.nav-sidebar > li > a:focus {
  color: #fff;
  background-color: #d9534f;
}
