body {
  background-color: #e5e5e5;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.page-header {
  border-color: #ccc;
}

.demo {
  padding-top: 15px;
  padding-bottom: 15px;
}

#profile {
  position: fixed;
  display: block;
  border: none;
  top: 0px;
  right: 0px;
  z-index: 1000;
  margin: 10px 5px;
}

#links {
  width:50%;
}

#links a {
  color: #555;
}

#links a:hover,
#links a:focus {
  color: #000;
}

.carousel-control .fa-chevron-left {
  position:absolute;
  top: 50%;
  left: 50%;
  color: #555;
}

.carousel-control .fa-chevron-right {
  position:absolute;
  top: 50%;
  right: 50%;
  color: #555;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
  width: 5%;
}
