body {
  padding-bottom:70px;
  background-color:#202020;
}

.content {
  padding-top:40%;
  color:white;
}

.content h1 {
  color:#ac4142;
  margin-bottom:20px;
}

.content p {
  color:#ffffff;
  opacity:0.8;
}

.container {
  max-width: 700px;
}

.navbar > .container {
  padding-right:50px;
  padding-left:50px;
}

.navbar-default {
  border:none;
  background-color:#ffffff;
}

.nav > li > a {
  padding-left: 7px;
  padding-right: 7px;
  opacity: 0.9;
}

.nav > li > a:hover {
  opacity: 1;
  background-color: transparent;
}
