doctype html
html
  head
    title Browsy Mockup
    link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    link rel='stylesheet' href='css/browsy.css'
    script type='text/javascript' src='https://d3js.org/d3.v3.min.js'
    script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'
    script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    script type='text/javascript' src='js/jquery.console.js'
    script type='text/javascript' src='js/browsy.js'


  body
    div.row.container-fluid
      div.fill.graph.col-md-8
      div.fill.code.col-md-4



